*{
    margin: 0;
}
.fonas{
    height: 100vh;
    background-image: url('./img/jura.jpg');
    background-size: cover;
}

.saule{
    width: 200px;
    height: 200px;
    background-color: rgb(245, 241, 16);
    border-radius: 50%;
    position: relative;
    /* sita pozicija gris kai animacija baigsis */
    top: 10%;
    left: 10%;
    animation-duration: 8s;
    animation-name: saulelydis;

}
@keyframes saulelydis{
    from
    {
        opacity: 1;
        top: 10%;
        left: 10%;

    }
    to{
        opacity: 0;
        top: 40%;
        left: 80%;
    }
}
.laivas {

    background-image: url('./img/laivas.jpg');
    
    width: 50px;
    height: 50px;
    background-attachment: absolute;
    background-size: cover;
    opacity: 100%;
    /* background-color: yellow; */
    position: absolute; 
    /* arba position: absolute */
    /* šita pozicija gryš, kai animacija baigsis */
    top: 80%;
    left: 0%;
    animation-duration: 8s;
    animation-name: plaukia;
}
@keyframes plaukia{
    from{
        opacity: 100;
        top: 80%;
        left: 0%;
    }
    to{
        opacity: 1;
        top: 60%;
        left: 80%;
        width: 200px;
        height: 250px;
    }
}